@import "tailwindcss";
@source "../../../../node_modules/@intecion/ipal-kit/dist/**/*.js";

@layer base {
  :root {
    --ipal-primary: #57703C;
    --ipal-secondary: #CDDC94;
    --ipal-accent: #92ab33;
    --ipal-radius: 2rem;
  }
}

@theme {
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce-subtle: bounce-subtle 2s infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes bounce-subtle {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }
  .btn-primary {
    @apply relative overflow-hidden rounded-full bg-[var(--ipal-secondary)] px-8 py-4 font-bold text-black transition-all hover:bg-[var(--ipal-primary)] hover:text-white hover:shadow-lg hover:shadow-[var(--ipal-primary)]/30 active:scale-95;
  }
  .btn-primary::after {
    content: '';
    @apply absolute top-0 left-[-100%] h-full w-full bg-gradient-to-r from-transparent via-white/20 to-transparent transition-all duration-500;
  }
  .btn-primary:hover::after {
    left: 100%;
  }
}
